﻿@model LoginViewModel
@{
    ViewBag.Title = "Đăng nhập";
}

<section class="content-header">
    <h2>@ViewBag.Title</h2>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-body with-border">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, false, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group has-feedback">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Tên đăng nhập hoặc email", @autofocus = "" })
                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group has-feedback">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Mật khẩu" })
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="checkbox icheck">
                                    <label>
                                        @*@Html.CheckBoxFor(m => m.RememberMe) Ghi nhớ đăng nhập*@
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <button class="w-100 btn btn-primary btn-block btn-flat" type="submit">Đăng nhập</button>
                                <a class="w-100 btn btn-secondary btn-block btn-flat" href="Account/Register">Đăng ký</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>