﻿@model RegisterViewModel
@{
    ViewBag.Title = "Đăng ký tài khoản";
}

<section class="content-header">
    <h2>@ViewBag.Title</h2>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body with-border">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            <label>Email</label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Mật khẩu</label>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Nhập lại mật khẩu</label>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @*@Html.DropDownList("RoleID", null, new { @class = "form-control select2", @style = "width: 100%;" })*@
                        </div>
                        <div class="box-footer">
                            <div class="pull-right">
                                <button class="btn btn-primary" type="submit">Đăng ký</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

