﻿@model IEnumerable<PhoneNumbers>
@{
}
<form asp-controller="PhoneNumber" asp-action="Index" method="post" enctype="multipart/form-data">
    <div class="col-md-6">
        <input type="file" name="file" />
    </div>
    <div class="col-md-3">
        <button class="btn btn-primary" type="submit">Read File</button>
    </div>
</form>
<br />
@*<form asp-controller="PhoneNumber" asp-action="FtpCreateFolder" method="post" enctype="multipart/form-data">
    <button class="btn btn-primary" type="submit">Create FTP</button>
</form>*@
<br />
<form asp-controller="PhoneNumber" asp-action="GetList" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <input type="text" placeholder="Nhập số điện thoại" class="input-group" name="searchPhone" /><br />
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary" type="submit">Tìm kiếm</button>
        </div>
</form>
<br />
@if (Model.Count() > 0)
{



    <table class="table" cellpadding="0" cellspacing="0" border="1">
        <thead>
            <tr>
                <th>STT</th>
                <th>Số điện thoại</th>
                <th>Nhà mạng cũ</th>
                <th>Nhà mạng mới</th>
                <th>Thời gian chuyển đổi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (PhoneNumbers phoneNumbers in Model)
            {
                <tr>
                    <td>@phoneNumbers.STT</td>
                    <td>@phoneNumbers.PhoneNumber</td>
                    <td>@phoneNumbers.HomeNetworkOld</td>
                    <td>@phoneNumbers.HomeNetworkNew</td>
                    <td>@phoneNumbers.DateChange</td>
                </tr>
            }
        </tbody>
    </table>
}